/* SCROLL DOWN ARROW */
.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation:    fade_move_down 2s ease-in-out infinite;
    animation:         fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
    0%   { 
        -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  
    }
    50%  { 
        opacity: 1;  
    }
    100% { 
        -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; 
    }
}

@-moz-keyframes fade_move_down {
    0%   { 
        -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  
    }
    50%  { 
        opacity: 1;  }
    100% { 
        -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; 
    }
}

@keyframes fade_move_down {
    0%   { 
        transform:translate(0,-10px) rotate(45deg); opacity: 0;  
    }
    50%  { 
        opacity: 1;  
    }
    100% { 
        transform:translate(0,10px) rotate(45deg); opacity: 0; 
    }
}



.banner h1 {
    font-size: 44px;
    font-weight: 400;
}

.banner .light {
    opacity: 0.6;
}

.banner .bold {
    opacity: 1;
}

.banner .row {
    z-index: 10;
    position: relative;
}

.banner h1,
.banner p {
    color: var(--white);
    width: 50%;
}

.banner,
.banner .row,
.banner .overlay {
    height: 90vh;
}

.banner .overlay {
    background: var(--overlay);
    opacity: 0.8;
}

.section .filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section .filters .filter-btn {
    font-size: 30px;
    color: var(--white);
    opacity: 0.6;
    transition: var(--transition);
}

.section .filters .filter-btn:hover {
    cursor: pointer;
}

.section .filters .filter-btn.active {
    opacity: 1;
    font-weight: 700;
    transition: var(--transition);
}

/* PROCESS */
.process .row.flex-col {
    align-items: center;
}

.process .wrapper {
    width: 90%;
    height: 60vh;
}

.process .wrapper .item {
    gap: 0;
}

.process .wrapper .item:nth-of-type(1) {
    flex: 1 0 20%;
    justify-content: center;
    align-items: center;
}

.process .wrapper .item:nth-of-type(2) {
    color: var(--white);
    flex: 1 0 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.process .wrapper .item .container:nth-child(1) {
    flex: 1 0 40%;
}

.process .wrapper .item .container:nth-child(2) {
    flex: 1 0 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 30px;
}

.process .wrapper .item:nth-child(2) {
    background-color: transparent;
    background-image: url('https://blitz-media.io/home/img/process-background.svg');
    background-size: cover;
    background-position: revert;
}

.process .wrapper .item .container img {
    padding: 30px;
    border-radius: 50px;
}

.process .wrapper .item ol {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 22px;
}

.process .wrapper .item li {
    opacity: 0.3;
    transition: opacity 200ms ease;
}

.process .wrapper .item li.active {
    opacity: 1;
    transition: opacity 200ms ease;
}

.process .wrapper .item li:hover {
    cursor: pointer;
}

.process .wrapper h4 {
    font-size: 26px;
    font-weight: 600;
}

.section.cta {
    background-color: var(--white);
}

.section.cta .row .wrapper {
    background-color: var(--black);
    width: 60%;
    justify-content: center;
    text-align: center;
    padding: 30px;
    /* border-radius: var(--borderRadius); */

    background-color: transparent;
    background-image: url('https://blitz-media.io/home/img/process-background.svg');
    background-size: cover;
    background-position: revert;
}

@media (max-width: 560px) {
    .banner,
    .banner .row,
    .banner .overlay {
        height: fit-content;   
    }

    .banner h1 {
        font-size: 26px;
        width: 100%;
    }

    .section .btn {
        font-size: 12px;
    }

    .banner .row {
        margin-bottom: 0;
    }

    .logos.section .row .wrapper {
        gap: 10px;
        flex-flow: row wrap;
        justify-content: center;
    }

    .logos.section .row .wrapper .item {
        flex: 0 1 25%;
    }

    .section h2 {
        font-size: 28px;
    }

    .section .row.reverse .filters {
        align-items: flex-start;
    }

    .section .filters .filter-btn {
        font-size: 20px;
    }
}